{%include 'public_header.html'%}

    
                
                
    
    

    <div class="timer">
        <div class="container">
            <div class="timer-grids">
                <div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <h3><a href="products.html">About Us</a></h3>
                    
                    <div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
                        <!-- <p><i>$580</i> <span class="item_price">$550</span></p> -->
                        <h4> A bag is a standout amongst the most vital adornments for a lady. 
                            It characterizes a lady's style and finishes her look. There are bags for 
                            each event and picking Luxury handbags and accessories are a craftsmanship in itself.
                             Since it can be hard to locate a decent selection of handbags in stores, ladies have taken 
                             to the web to search for a choice of bags on the web.<br><br> Whether you are searching for a lavish
                              designer purse or tough and reasonable bags for your every
                             day needs, web shopping sites are the ideal spot to investigate a mixture of premium bags.
                             <br><br>Bags are developing to be another prominent must-have accessory in today's reality.
                              Formed in canvas, elastic, or even engineered fabrics,
                              a handbag assemble your article of clothing while keeping up an easygoing appearance.  </h4>
                        <!-- <p><a class="item_add timer_add" href="#">add to cart </a></p> -->
                    </div>
                    <!-- <div id="counter"> </div> -->
                    <script src="static/js/jquery.countdown.js"></script>
                    <script src="static/js/script.js"></script>
                </div>


                <!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                <h3>Fast & Free Delivery</h3>
                <p>
                    </p>
            </div>
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                <h3>Safe & Secure Payments</h3>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 3rd block, <span>Kochi.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">Lab Store@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>9447129632</li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                <h3>Flickr Posts</h3>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b8.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b2.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b3.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b4.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b5.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b7.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/bag4.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/banner6.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/banner7.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <!-- <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/banner6.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b7.jpg" alt=" " class="img-responsive" /></a>
                </div>
                <div class="footer-grid-left">
                    <a href="single.html"><img src="static/images/b8.jpg" alt=" " class="img-responsive" /></a>
                </div> -->
                <div class="clearfix"> </div>
            </div>
            <!-- <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                <h3>Blog Posts</h3>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="single.html"><img src="images/9.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="single.html">culpa qui officia deserunt</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="single.html"><img src="images/10.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="single.html">Quis autem vel eum iure</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div> -->

            <div class="clearfix"> </div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="index.html">tsánta Store <span>shop anywhere</span></a></h2>
        </div>
        <!-- <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>&copy 2016 Best Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div> -->
    </div>
</div>
<!-- //footer -->
</body>
</html>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>alert("{{ message }}")</script>
		{% endfor %}
	{% endif %}
{% endwith %}