<!-- 
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
<!-- timer -->

<!-- <script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
  </script> 
<body onload="printDiv()">
  <div id="div_print" >
  
                              <h1 style="padding-top: 30px;font-size: 50px">tsánta Store </h1>
                              
                              
                          <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                              <ul>
                                  <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email: Lab Store@gmail.com</li>
                                  <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone: 9447129632</li>
                                
                                  
                                  </ul>
                          </div>
<center>
  
<i><h3 style="padding-top: 30px;font-size: 40px">Sales Report</h3></i><br> -->

<!-- <h1>View Sales</h1> -->
<!-- <table class="table" style="width: 1000px;color: black;font-style: italic;font-family: monospace;font-size: 22px" border="5">
    <tr>
   <th>Index</th>
             <th>Customer name</th>
             <th>Category</th>
             <th>Type</th>
             <th>Colour</th>
             <th>Brand</th>
             <th>Product Name</th>  
             
             <th>Product Image</th>
             <th>Total</th>
             <th>Qutantity</th>
           
        
        
    </tr>
  {% for i in data['r'] %}
<tr>
        
   
          <td>{{loop.index}}</td>
         <td>{{i['Cust_Fname']}} {{i['Cust_Lname']}}</td>
         <td>{{i['Cat_Name']}}</td>
         <td>{{i['Type_Name']}}</td>
         <td>{{i['Color_Name']}}</td>
         <td>{{i['Brand_Name']}}</td>
         <td>{{i['Item_Name']}}</td>
        
         <td><a href="/{{i['Item_Image']}}"><img src="/{{i['Item_Image']}}" style="width: 150px; height: 150px;"></a></td>
         <td>{{i['Total_amount']}}</td>
         <td>{{i['qty']}}</td>
      
     
    </tr>
     {% endfor %}
  </table>
</center>
</div> -->



<body onload="printDiv()">
  <div id="div_print" >
      <!-- <center>
          <link rel="stylesheet" href="static/assets/css/style-starter.css">
          <font style="font-family:times new roman">
              <br><br>
              <h1 style="padding-top: 30px;font-size: 60px; background-color:rgb(227, 231, 39)">tsánta Store </h1>
              <p> -->
                  <!-- 0926k 4th block, 
                  Attingal, 
                  Trivandrum ,
                            <br><br> -->
                        <!-- <strong>Phone:</strong> +91 9447129632<br> 
                        <strong>Email:</strong> Lab Store@gmail.com<br> 
                      </p> <hr>
          <h1 style="padding-top: 30px;font-size: 40px; color:rgb(159, 159, 47);">Sales Report</h1><br>`
          <h1>View Sales</h1>
<table border=1 class="table table-secondary table-striped " style="width: 1200px;color: black;background:white;opacity: 0.85;">
  <tr style="background-color: rgb(207, 227, 137);">
    <th>Sl No</th>
    <th>Customer name</th>
    <th>Category</th>
    <th>Type</th>
    <th>Colour</th>
    <th>Brand</th>
    <th>Product Name</th>  
    
    <th>Product Image</th>
    <th>Total</th>
    <th>Qutantity</th> -->
      <!-- <th>Status</th> -->
  
      <!-- <th></th>

  </tr>
          

  {% for i in data['r'] %}
<tr>
        
   
          <td>{{loop.index}}</td>
         <td>{{i['Cust_Fname']}} {{i['Cust_Lname']}}</td>
         <td>{{i['Cat_Name']}}</td>
         <td>{{i['Type_Name']}}</td>
         <td>{{i['Color_Name']}}</td>
         <td>{{i['Brand_Name']}}</td>
         <td>{{i['Item_Name']}}</td>
        
         <td><a href="/{{i['Item_Image']}}"><img src="/{{i['Item_Image']}}" style="width: 150px; height: 150px;"></a></td>
         <td>{{i['Total_amount']}}</td>
         <td>{{i['qty']}}</td>
      
     
    </tr>
     {% endfor %} -->





<center>
  
 
  <h1 style="color: rgb(224, 213, 97);font-size: 100px;background-color:black">tsánta Store</h1>
  <!-- <div style="width: 100%;height: 100px;display: flex;justify-content: space-between;">
    <div style="position: relative;left: 10px"> -->
       <font size="4" face="Times New Roman"> 1234k Avenue, 3rd block, Kochi <br><b>Phone:</b>9447129632<br><b>Email:</b>Lab Store@gmail.com</font>
    <hr color="orange">

<h1 style="font-size: 60px">Sales Report
<hr color="orange" width=50% align="center" size=20>
</h1>
<!-- <h1>View Sales</h1> -->
<table class="table" style="width: 1000px;color: black;font-style: italic;font-family: monospace;font-size: 22px" border="5">

  <tr>
    <th>Sl No</th>
    <th>Customer name</th>
    <th>Category</th>
    <th>Type</th>
    <th>Colour</th>
    <th>Brand</th>
    <th>Product Name</th>  
    
    <th>Product Image</th>
    <th>Total</th>
    <th>Qutantity</th>
      
         
      
           
  </tr>
      
      
  {% for i in data['r'] %}
  <tr>
          
     
            <td>{{loop.index}}</td>
           <td>{{i['Cust_Fname']}} {{i['Cust_Lname']}}</td>
           <td>{{i['Cat_Name']}}</td>
           <td>{{i['Type_Name']}}</td>
           <td>{{i['Color_Name']}}</td>
           <td>{{i['Brand_Name']}}</td>
           <td>{{i['Item_Name']}}</td>
          
           <td><a href="/{{i['Item_Image']}}"><img src="/{{i['Item_Image']}}" style="width: 150px; height: 150px;"></a></td>
           <td>{{i['Total_amount']}}</td>
           <td>{{i['qty']}}</td>
        
       
      </tr>
       {% endfor %}
</table>

</center>
<br>
<br>

<h3 align="right">Signature: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<h2>

  <script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
    </script>
