	{% include 'courier_header.html' %}

	<center>
	<form method="post">
		<br><h2>Accepted Orders</h2><br>
		
		<table class="table table-striped" ">
			<tr>
				<th>#</th>
				<th>Customer Name</th>
				
				<th>House Name</th>
				<th>Street</th>
				<th>District</th>
				<th>Pincode</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				
			</tr>
			{% for i in data['view'] %}
			<tr>

				<td>{{loop.index}}</td>
				<td>{{i['Cust_Fname']}} {{i['Cust_Lname']}}</td>
				
				<td>{{i['Cust_Hname']}}</td>
				<td>{{i['Cust_Street']}}</td>
				<td>{{i['Cust_Dist']}}</td>
				<td>{{i['Cust_Pincode']}}</td>
				<td>{{i['Cust_Phone']}}</td>
				<td>{{i['Username']}}</td>
				<td>{{i['Item_Name']}}</td>
				<td>{{i['qty']}}</td>
				<td>{{i['Total_amount']}}</td>
				
				<td><a onclick="return confirm('Are you Sure?')" href="?action=accept&omid={{ i['CM_ID'] }}">Accept Delivery</a></td>
			</tr>
			{% endfor %}
		</table>
	</form>
	</center>

	{% include 'footer.html' %}