{% include 'customer_header.html' %}

<!-- nvhjfhjgfhhgfghf{{ data['len'] }} -->
<form  action="" method="post">
<div class="wrap cf">
    <h1 class="projTitle"><span><b>My Cart</span></b></h1>
    <div class="heading cf">
      
      <a  href="customer_view_all_product" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
  <!--    <ul class="tableHead">
        <li class="prodHeader">Product</li>
        <li>qty</li>
        <li>Total</li>
         <li>Remove</li>
      </ul>-->
      <ul class="cartWrap">

        {% for row in data['res'] %}
        
        <li class="items odd">
          
      <div class="infoWrap"> 
          <div class="cartSection">
            <input type="hidden" name="pid{{ loop.index }}" value="{{ row['Item_ID'] }}" id="">
            <input type="hidden" name="single{{ loop.index }}" value="{{ row['it_price'] }}" id="single{{ loop.index }}">
          <img src="/{{ row['Item_Image'] }}"  alt="img" class="itemImg" />
            <!-- <p class="itemNumber">#QUE-007544-002</p> -->
            <h3>{{ row['Item_Name'] }}</h3>
            
              {% if row['Stock'] | int == row['qty'] | int %}

              <p> <input readonly name="qty{{ loop.index }}" type="text" value="{{ row['qty'] }}" id="inp{{ loop.index }}"  class="qty" /><button name="addss{{ loop.index }}"  id="addss{{ loop.index }}" value="dd" type="submit" class="btn-up">-</button></p>
            
              {% elif row['qty'] | int == 1 %}

              <p> <input readonly name="qty{{ loop.index }}" type="text" value="{{ row['qty'] }}" id="inp{{ loop.index }}"  class="qty" /><button name="add{{ loop.index }}"  id="add{{ loop.index }}" value="add" type="submit" class="btn-up">+</button></p>
              {% else %}
             <p> <input readonly name="qty{{ loop.index }}" type="text" value="{{ row['qty'] }}" id="inp{{ loop.index }}"  class="qty" /><button name="add{{ loop.index }}"  id="add{{ loop.index }}" value="add" type="submit" class="btn-up">+</button><button name="addss{{ loop.index }}"  id="addss{{ loop.index }}" value="dd" type="submit" class="btn-up">-</button></p>
           
              {% endif %}
           <p id="test{{ loop.index }}" class="stockStatus"> In Stock</p>
             <!-- <input readonly name="availablestockdetails{{ loop.index }}"  type="text" id="availablestockdetails{{ loop.index }}"  class="qty" /> -->
            <!-- {% if row['status'] == "active" %}
            <p class="stockStatus"> In Stock</p>
            {% elif row['status'] == "inactive" %}
            <p class="stockStatus out"> Out of Stock</p>
            {% endif %} -->
          </div>  
      
          
          <div class="prodTotal cartSection">
            <p id="singleCost{{ loop.index }}">₹{{ row['price'] }}</p>
            <input type="hidden" value="{{ row['price'] }}"  name="singletotal{{ loop.index }}" id="stotal{{ loop.index }}">
          </div>
                <div class="cartSection removeWrap">
                  <input type="hidden"   value="{{row['CC_ID']}}" name="orderdetails_id{{ loop.index }}">

          <input type="hidden" id="ourqty{{ loop.index }}" value="{{row['qty'] }}" name="">        

          <input type="hidden" value="{{ row['Stock'] }}" id="totalstock{{ loop.index }}" name="">

                            
             <a style="color: rgb(27, 28, 29) !important;" href="?action=remove&odid={{ row['CC_ID'] }}&omid={{ row['CM_ID'] }}&price={{ row['price'] }}">Remove</a>
          </div>
        </div>


        </li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="subtotal cf">
      <ul>
          <input type="hidden" id="mainval" value="{{ data['val'] }}" name="" id="">
          {% if data['res'] %}
        
              <li class="totalRow final"><span class="label">Total</span><span style="background: transparent;border: none;" id="final" class="value">₹{{ data['res'][0]['Total_amount'] }}</span></li>
              <input type="hidden" value="{{ data['res'][0]['Total_amount'] }}" name="total" id="tot">
              <input type="hidden" value="{{ data['res'][0]['price'] }}" name="totp" id="tot">
        <li class="totalRow">
            <!-- <a href="?action=checkout&omid={{ data['res'][0]['ordermaster_id'] }}" class="btn continue">Checkout</a> -->
            <input type="hidden" value="{{ data['res'][0]['CM_ID'] }}" name="om_id" id="">
            <input class="btn btn-danger" value="Checkout" type="submit" name="btncheckout" id="btncheckout">
            <span id="showerr" style="color: red;visibility: hidden;">Cant Proceed</span>
        </li>
      {% endif %}
    </ul>
    </div>
  </div>
</form>

  <style>

    .btn-up{
        padding: 4px 10px;
        margin: 0px 2px;
        background: transparent;
        border: 1px solid rgb(194, 194, 194);
    }
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}



html {
  line-height: 1;
}

.items.odd:nth-child(even){
    background: #fafafa;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: "Droid Serif", serif;
}

img {
  max-width: 100%;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
}
.heading h1 {
  font-family: "Droid Serif", serif;
  font-size: 2em;
  float: left;
}
.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f69679;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: .75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}
.cart .items {
  display: block;
  width: 100%;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items.even {
  background: #fafafa;
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}
.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: "Montserrat", sans-serif;
}
.cart .items .cartSection p .qty {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: #82CA9C;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
  color: #F69679;
}
.cart .items .cartSection .itemImg {
  width: 7rem !important;
  height: 5rem;

  float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.special {
  display: block;
  font-family: "Montserrat", sans-serif;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: #f30;
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #82ca9c;
}
.promoCode a.btn:hover {
  border: 1px solid #f69679;
  background: #f69679;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background: #f69679;
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: .85em;
  padding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}
.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }

  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }

  .heading {
    padding: 1em;
    font-size: 90%;
  }

  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }

  .promoCode, .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}
  </style>

  <script>
    // Remove Items From Cart
// $('a.remove').click(function(){
//   event.preventDefault();
//   $( this ).parent().parent().parent().hide( 400 );
 
// })

// // Just for testing, show all items
//   $('a.btn.continue').click(function(){
//     $('li.items').show(400);
//   })

//   var qty = {
//     type: "add",
//     };
 
//     var qty2 = {
//     type: "remove",
//     };



//   const changeqty  = (q) => {

//     var val = document.getElementById("mainval").value
//     var id = document.querySelector(".qty").id
//     console.log(id);

//     for (i=1;i<=val;i++){
//         // alert(i)
//         var buttons = document.getElementById("add"+i)
//         alert(buttons)
//         // var buttons = document.getElementById("dec"+i).value
//         // alert(buttons)
//         buttons.addEventListener("click",()=> {
//             alert("clicked")
//         })
//     }

    

//     // 

//     var inp = document.getElementById("inp").value
//     if (q.type == "add"){
//         console.log(inp);
//         document.getElementById("inp"+val).value=parseInt(inp)+1
//     }
//     else if (q.type == "remove"){
//         console.log("remove");
//         if (inp != 1){
            
//             document.getElementById("inp").value=parseInt(inp)-1
//         }
//     }
                    
  
// }

function defaultValue(q) {
            document.getElementById("tot").value=(document.getElementById("final").innerText).slice(1,)
            document.getElementById("single"+q).value=(document.getElementById("singlecost"+q).innerText).slice(1,)
}


// function samplefna(q){
//     // console.log(q);
//   checkQty()
//             var inp = document.getElementById("inp"+q).value
//             document.getElementById("inp"+q).value=parseInt(inp)+1
         

//             var t = document.getElementById("singleCost"+q).innerText
//             var tot = t.slice(1,)
//             var singleCost = document.getElementById("single"+q).value
//             // alert(singleCost)

//             var sum = parseInt(tot) + parseInt(singleCost)
//             document.getElementById("singleCost"+q).innerText = "₹"+sum

//             // var f = 
//             // var final = f.slice(1,)


//             var limit = document.getElementById("mainval").value
//             // console.log(limit);
           
//             var checkoutTotal = 0
//             // console.log(newtotal);

//             for(i=1;i<=limit;i++){


//                 var abc = document.getElementById("singleCost"+i).innerText
//                 var newtotal = abc.slice(1,)
//                 // alert(newtotal)
//                 checkoutTotal=parseInt(newtotal)+checkoutTotal
                
//             }
//             document.getElementById("final").innerText="₹"+checkoutTotal
//             // console.log(document.getElementById("singleCost"+q).innerText.slice(1,))
//             document.getElementById("tot").value=(document.getElementById("final").innerText).slice(1,)
//             document.getElementById("stotal"+q).value=document.getElementById("singleCost"+q).innerText.slice(1,)
      
// }

// function samplefnd(q){
//   checkQty()
//      var inp = document.getElementById("inp"+q).value
//      if (inp != 1){
            
//             document.getElementById("inp"+q).value=parseInt(inp)-1
//             var t = document.getElementById("singleCost"+q).innerText
//             var tot = t.slice(1,)
//             console.log(tot);
//             var singleCost = document.getElementById("single"+q).value
//             console.log(singleCost);

//             var diff = parseInt(tot) - parseInt(singleCost)
//             document.getElementById("singleCost"+q).innerText = "₹"+diff

//             var limit = document.getElementById("mainval").value
//             // console.log(limit);
           
//             var checkoutTotal = 0
//             // console.log(newtotal);

//             for(i=1;i<=limit;i++){


//                 var abc = document.getElementById("singleCost"+i).innerText
//                 var newtotal = abc.slice(1,)
//                 // alert(newtotal)
//                 checkoutTotal=parseInt(newtotal)+checkoutTotal
                
//             }
//             document.getElementById("final").innerText="₹"+checkoutTotal
//             document.getElementById("tot").value=(document.getElementById("final").innerText).slice(1,)
//             document.getElementById("stotal"+q).value=document.getElementById("singleCost"+q).innerText.slice(1,)
//         }
    
//  }






 // <input type="hidden" value="{{ data['len'] }}" id="count" name="">


  // var count = document.getElementById("count").value
  var count = document.getElementById("mainval").value
  var test = 0;
  for (i=1; i<=count; i++){

      var ourQty = document.getElementById("ourqty"+i)
      var TotalQty = document.getElementById("totalstock"+i)
     console.log("Our qty: ",ourQty.value)
      console.log("Total qty: ",TotalQty.value)
      if ( parseInt(ourQty.value) > parseInt(TotalQty.value) ){
          console.log("out of stock")
          // document.getElementById("availablestockdetails"+i).value="Out of stock"
          document.getElementById('test'+i).innerHTML = " This Product is not available. Kindly remove from cart";
          document.getElementById('test'+i).style.color="red"
          // document.getElementById("btncheckout").style.visibility= 'hidden';
          test = 1; 
        }else{
          console.log("in stock") 
          document.getElementById('test'+i).innerHTML = "In stock";
          // document.getElementById("availablestockdetails"+i).value="In stock"
          // document.getElementById("btncheckout").style.visibility= 'visible';

          }
        if(test==1)
        {
          document.getElementById("btncheckout").style.visibility= 'hidden';
          document.getElementById("showerr").style.visibility='visible';
        }else{
          document.getElementById("btncheckout").style.visibility='visible';
          document.getElementById("showerr").style.visibility='hidden';
  
        }
          
              }

      


      function checkQty(){
        var count = document.getElementById("mainval").value
  var test = 0;
  for (i=1; i<=count; i++){
      var ourQty = document.getElementById("ourqty"+i)
      var TotalQty = document.getElementById("totalstock"+i)
     console.log("Our qty: ",ourQty.value)
      console.log("Total qty: ",TotalQty.value)
      if ( parseInt(ourQty.value) > parseInt(TotalQty.value) ){
          console.log("out of stock")
          // document.getElementById("availablestockdetails"+i).value="Out of stock"
          document.getElementById('test'+i).innerHTML = "Out of stock";
          alert('test'+i)
          test = 1; 
        }else{
          console.log("in stock") 
          document.getElementById('test'+i).innerHTML = "In stock";
          // document.getElementById("availablestockdetails"+i).value="In stock"
          // document.getElementById("btncheckout").style.visibility= 'visible';
      
      }
      if(test==1)
      {
        document.getElementById("btncheckout").style.visibility= 'hidden';
        document.getElementById("showerr").style.visibility='visible';
      }else{
        document.getElementById("btncheckout").style.visibility='visible';
        document.getElementById("showerr").style.visibility='hidden';

      }
    }
  }

 
  </script>



<script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {
       function disablePrev() { window.history.forward() }
       window.onload = disablePrev();
       window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
 </script>

  {% include 'footer.html' %}



