{%include 'customer_header.html'%}
<!-- banner -->
<div class="banner" style="background: url('/static/images/main.jpg');background-size: cover;">
    <div class="container">
        <div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
            <h3>Grab your Products Soon</h3><br>
        
            <div class="wmuSlider example1">
                <div class="wmuSliderWrapper">
                    <article style="position: absolute; width: 100%; opacity: 0;"> 
                        <div class="banner-wrap">
                            <div class="banner-info1">
                                <p></p>
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;"> 
                        <div class="banner-wrap">
                            <div class="banner-info1">
                                <p></p>
                            </div>
                        </div>
                    </article>
                    <article style="position: absolute; width: 100%; opacity: 0;"> 
                        <div class="banner-wrap">
                            <div class="banner-info1">
                                <p></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
                <script src="static/js/jquery.wmuSlider.js"></script> 
                <script>
                    $('.example1').wmuSlider();         
                </script> 
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->

 {%include 'footer.html'%}