<link href="https://cdn.jsdelivr.net/npm/@pnotify/core@^5.0.0/dist/PNotify.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@pnotify/core@^5.0.0/dist/PNotify.js"></script>

<style>
    .pnotify.pnotify-positioned.pnotify-with-icon.brighttheme-elem.pnotify-mode-no-preference.pnotify-in.pnotify-fade-in.pnotify-move.pnotify-stack-down.pnotify-fade-normal    {
        background: lightgreen;
        color: white;
    }
</style>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
        <script>
          PNotify.alert({
            text: '{{ message }}',
            type: 'success',
            delay: 1000,
            });

        </script>
			<!-- <script>Swal.fire('{{ message }}')</script> -->
		{% endfor %}
	{% endif %}
{% endwith %}


<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
              
            </div>
          
           
            <!-- <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                <h3>Blog Posts</h3>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="single.html"><img src="images/9.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="single.html">culpa qui officia deserunt</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="single.html"><img src="images/10.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="single.html">Quis autem vel eum iure</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div> -->

            <div class="clearfix"> </div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="#">Lab Store <span>shop anywhere</span></a></h2>
        </div>
        <!-- <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>&copy 2016 Best Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div> -->
    </div>
</div>
<!-- //footer -->
</body>
</html>

